{{content-header title=title}}
<section class="content">
	<div class="box">
		{{search-form query=query searchPlaceholder=searchPlaceholder}}
		<div class="box-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						{{#each columnsName as | column |}}
						<th>
							{{column.title}}
						</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each model as | datum index |}}
					<tr>
						<td>{{basic-math index "+" firstRowNumber}}</td>
						<td>{{datum.name}}</td>
					</tr>
					{{else}}
					<tr>
						<td>0</td>
						<td>Tidak Terdapat Data</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="box-footer clearfix">
			<p class="pull-left">Displaying row {{firstRowNumber}} to {{lastRowNumber}} from {{total}} rows</p>
			<div class="box-tools pull-right">
				{{pagination-pager count=totalPages current=page}}
			</div>
		</div>
	</div>
</section>
